USE [llantas]
GO
/****** Object:  Table [dbo].[Catalogo_Producto]    Script Date: 07/04/2026 09:54:06 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Catalogo_Producto]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Catalogo_Producto](
	[ID_Producto] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_Producto] [varchar](100) NOT NULL,
	[ID_Categoria] [int] NOT NULL,
	[ID_Marca] [int] NOT NULL,
	[ID_Unidad] [int] NOT NULL,
	[Stock_Minimo] [int] NULL,
	[Stock_Maximo] [int] NULL,
	[ID_Estado] [int] NOT NULL,
 CONSTRAINT [PK_Catalogo_Producto] PRIMARY KEY CLUSTERED 
(
	[ID_Producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Categoria_Producto]    Script Date: 07/04/2026 09:54:06 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Categoria_Producto]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Categoria_Producto](
	[ID_Categoria] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_Categoria] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Categoria_Producto] PRIMARY KEY CLUSTERED 
(
	[ID_Categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 07/04/2026 09:54:06 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Cliente]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Cliente](
	[ID_Cliente] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_Cliente] [varchar](100) NOT NULL,
	[Direccion_Cliente] [varchar](150) NULL,
	[Telefono_Cliente] [varchar](15) NOT NULL,
	[Correo_Cliente] [varchar](100) NULL,
	[RUC_Cedula_Cliente] [varchar](50) NOT NULL,
	[ID_Estado] [int] NOT NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[ID_Cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[ContactoProveedor]    Script Date: 07/04/2026 09:54:06 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ContactoProveedor]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ContactoProveedor](
	[ID_ContactoProveedor] [int] IDENTITY(1,1) NOT NULL,
	[ID_RepresentanteProveedor] [int] NOT NULL,
	[Tipo_Contacto] [varchar](10) NOT NULL,
	[Valor_Contacto] [varchar](50) NOT NULL,
	[ID_Estado] [int] NULL,
 CONSTRAINT [PK_ContactoProveedor] PRIMARY KEY CLUSTERED 
(
	[ID_ContactoProveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Estado]    Script Date: 07/04/2026 09:54:06 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Estado]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Estado](
	[ID_Estado] [int] IDENTITY(1,1) NOT NULL,
	[Estado_Nombre] [varchar](20) NULL,
 CONSTRAINT [PK_Estado] PRIMARY KEY CLUSTERED 
(
	[ID_Estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Factura_Detalle]    Script Date: 07/04/2026 09:54:06 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Factura_Detalle]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Factura_Detalle](
	[ID_Factura] [int] NOT NULL,
	[ID_Producto] [int] NOT NULL,
	[Cantidad_Producto] [int] NOT NULL,
	[Precio_Unitario] [decimal](10, 2) NOT NULL,
	[Subtotal_Factura] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_Factura_Detalle] PRIMARY KEY CLUSTERED 
(
	[ID_Factura] ASC,
	[ID_Producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Factura_Maestro]    Script Date: 07/04/2026 09:54:06 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Factura_Maestro]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Factura_Maestro](
	[ID_Factura] [int] IDENTITY(1,1) NOT NULL,
	[ID_Cliente] [int] NOT NULL,
	[Fecha_Factura] [date] NOT NULL,
	[Total_Factura] [decimal](10, 2) NOT NULL,
	[ID_Estado] [int] NOT NULL,
 CONSTRAINT [PK_Factura_Maestro] PRIMARY KEY CLUSTERED 
(
	[ID_Factura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Historial_Precio]    Script Date: 07/04/2026 09:54:06 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Historial_Precio]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Historial_Precio](
	[ID_Historial] [int] IDENTITY(1,1) NOT NULL,
	[ID_Producto] [int] NOT NULL,
	[Precio] [decimal](10, 2) NOT NULL,
	[Fecha_Inicio] [date] NOT NULL,
	[Fecha_Fin] [date] NULL,
 CONSTRAINT [PK_Historial_Precios] PRIMARY KEY CLUSTERED 
(
	[ID_Historial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Inventario_Producto]    Script Date: 07/04/2026 09:54:06 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Inventario_Producto]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Inventario_Producto](
	[ID_Producto] [int] NOT NULL,
	[Stock_Actual] [int] NOT NULL,
	[Costo_Promedio] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_Inventario_Producto] PRIMARY KEY CLUSTERED 
(
	[ID_Producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Kardex_Inventario]    Script Date: 07/04/2026 09:54:06 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Kardex_Inventario]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Kardex_Inventario](
	[ID_Kardex] [int] IDENTITY(1,1) NOT NULL,
	[ID_Producto] [int] NOT NULL,
	[ID_Transaccion] [int] NOT NULL,
	[Cantidad_Producto] [int] NOT NULL,
	[Costo_Unitario] [decimal](10, 2) NOT NULL,
	[Fecha_Movimiento] [date] NOT NULL,
	[ID_Estado] [int] NULL,
 CONSTRAINT [PK_Kardex_Inventario] PRIMARY KEY CLUSTERED 
(
	[ID_Kardex] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Marca]    Script Date: 07/04/2026 09:54:06 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Marca]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Marca](
	[ID_Marca] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_Marca] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Marca] PRIMARY KEY CLUSTERED 
(
	[ID_Marca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Proveedor]    Script Date: 07/04/2026 09:54:06 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proveedor]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Proveedor](
	[ID_Proveedor] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_Proveedor] [varchar](100) NOT NULL,
	[Direccion_Proveedor] [varchar](150) NULL,
	[RUC_Proveedor] [varchar](50) NOT NULL,
	[ID_Estado] [int] NULL,
 CONSTRAINT [PK_Proveedor] PRIMARY KEY CLUSTERED 
(
	[ID_Proveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Remision_Detalle]    Script Date: 07/04/2026 09:54:06 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Remision_Detalle]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Remision_Detalle](
	[ID_Remision] [int] NOT NULL,
	[ID_Producto] [int] NOT NULL,
	[Cantidad_Producto] [int] NOT NULL,
	[Costo_Unitario] [decimal](10, 2) NOT NULL,
	[Costo_Total] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_Remision_Detalle] PRIMARY KEY CLUSTERED 
(
	[ID_Remision] ASC,
	[ID_Producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Remision_Maestro]    Script Date: 07/04/2026 09:54:06 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Remision_Maestro]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Remision_Maestro](
	[ID_Remision] [int] IDENTITY(1,1) NOT NULL,
	[ID_Proveedor] [int] NOT NULL,
	[Fecha_Remision] [date] NOT NULL,
	[Total_Remision] [decimal](10, 2) NOT NULL,
	[ID_Estado] [int] NOT NULL,
 CONSTRAINT [PK_Remision_Maestro] PRIMARY KEY CLUSTERED 
(
	[ID_Remision] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[RepresentanteProveedor]    Script Date: 07/04/2026 09:54:06 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RepresentanteProveedor]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[RepresentanteProveedor](
	[ID_RepresentanteProveedor] [int] IDENTITY(1,1) NOT NULL,
	[ID_Proveedor] [int] NOT NULL,
	[Nombre] [varchar](20) NOT NULL,
	[Apellido] [varchar](20) NOT NULL,
	[ID_Estado] [int] NOT NULL,
 CONSTRAINT [PK_RepresentanteProveedor] PRIMARY KEY CLUSTERED 
(
	[ID_RepresentanteProveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Transaccion_Kardex]    Script Date: 07/04/2026 09:54:06 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Transaccion_Kardex]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Transaccion_Kardex](
	[ID_Transaccion] [int] IDENTITY(1,1) NOT NULL,
	[Tipo_Transaccion] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Transaccion_Kardex] PRIMARY KEY CLUSTERED 
(
	[ID_Transaccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Unidad_Medida]    Script Date: 07/04/2026 09:54:06 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Unidad_Medida]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Unidad_Medida](
	[ID_Unidad] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_Unidad] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Unidad_Medida] PRIMARY KEY CLUSTERED 
(
	[ID_Unidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Index [IXFK_Catalogo_Producto_Categoria_Producto]    Script Date: 07/04/2026 09:54:06 p. m. ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Catalogo_Producto]') AND name = N'IXFK_Catalogo_Producto_Categoria_Producto')
CREATE NONCLUSTERED INDEX [IXFK_Catalogo_Producto_Categoria_Producto] ON [dbo].[Catalogo_Producto]
(
	[ID_Categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IXFK_Catalogo_Producto_Estado]    Script Date: 07/04/2026 09:54:06 p. m. ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Catalogo_Producto]') AND name = N'IXFK_Catalogo_Producto_Estado')
CREATE NONCLUSTERED INDEX [IXFK_Catalogo_Producto_Estado] ON [dbo].[Catalogo_Producto]
(
	[ID_Estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IXFK_Catalogo_Producto_Marca]    Script Date: 07/04/2026 09:54:06 p. m. ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Catalogo_Producto]') AND name = N'IXFK_Catalogo_Producto_Marca')
CREATE NONCLUSTERED INDEX [IXFK_Catalogo_Producto_Marca] ON [dbo].[Catalogo_Producto]
(
	[ID_Marca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IXFK_Catalogo_Producto_Unidad_Medida]    Script Date: 07/04/2026 09:54:06 p. m. ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Catalogo_Producto]') AND name = N'IXFK_Catalogo_Producto_Unidad_Medida')
CREATE NONCLUSTERED INDEX [IXFK_Catalogo_Producto_Unidad_Medida] ON [dbo].[Catalogo_Producto]
(
	[ID_Unidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IXFK_Cliente_Estado]    Script Date: 07/04/2026 09:54:06 p. m. ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Cliente]') AND name = N'IXFK_Cliente_Estado')
CREATE NONCLUSTERED INDEX [IXFK_Cliente_Estado] ON [dbo].[Cliente]
(
	[ID_Estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IXFK_ContactoProveedor_Estado]    Script Date: 07/04/2026 09:54:06 p. m. ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[ContactoProveedor]') AND name = N'IXFK_ContactoProveedor_Estado')
CREATE NONCLUSTERED INDEX [IXFK_ContactoProveedor_Estado] ON [dbo].[ContactoProveedor]
(
	[ID_Estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IXFK_ContactoProveedor_RepresentanteProveedor]    Script Date: 07/04/2026 09:54:06 p. m. ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[ContactoProveedor]') AND name = N'IXFK_ContactoProveedor_RepresentanteProveedor')
CREATE NONCLUSTERED INDEX [IXFK_ContactoProveedor_RepresentanteProveedor] ON [dbo].[ContactoProveedor]
(
	[ID_RepresentanteProveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IXFK_Factura_Detalle_Catalogo_Producto]    Script Date: 07/04/2026 09:54:06 p. m. ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Factura_Detalle]') AND name = N'IXFK_Factura_Detalle_Catalogo_Producto')
CREATE NONCLUSTERED INDEX [IXFK_Factura_Detalle_Catalogo_Producto] ON [dbo].[Factura_Detalle]
(
	[ID_Producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IXFK_Factura_Detalle_Factura_Maestro]    Script Date: 07/04/2026 09:54:06 p. m. ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Factura_Detalle]') AND name = N'IXFK_Factura_Detalle_Factura_Maestro')
CREATE NONCLUSTERED INDEX [IXFK_Factura_Detalle_Factura_Maestro] ON [dbo].[Factura_Detalle]
(
	[ID_Factura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IXFK_Factura_Maestro_Cliente]    Script Date: 07/04/2026 09:54:06 p. m. ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Factura_Maestro]') AND name = N'IXFK_Factura_Maestro_Cliente')
CREATE NONCLUSTERED INDEX [IXFK_Factura_Maestro_Cliente] ON [dbo].[Factura_Maestro]
(
	[ID_Cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IXFK_Factura_Maestro_Estado]    Script Date: 07/04/2026 09:54:06 p. m. ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Factura_Maestro]') AND name = N'IXFK_Factura_Maestro_Estado')
CREATE NONCLUSTERED INDEX [IXFK_Factura_Maestro_Estado] ON [dbo].[Factura_Maestro]
(
	[ID_Estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IXFK_Historial_Precios_Inventario_Producto]    Script Date: 07/04/2026 09:54:06 p. m. ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Historial_Precio]') AND name = N'IXFK_Historial_Precios_Inventario_Producto')
CREATE NONCLUSTERED INDEX [IXFK_Historial_Precios_Inventario_Producto] ON [dbo].[Historial_Precio]
(
	[ID_Producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IXFK_Inventario_Producto_Catalogo_Producto]    Script Date: 07/04/2026 09:54:06 p. m. ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Inventario_Producto]') AND name = N'IXFK_Inventario_Producto_Catalogo_Producto')
CREATE NONCLUSTERED INDEX [IXFK_Inventario_Producto_Catalogo_Producto] ON [dbo].[Inventario_Producto]
(
	[ID_Producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IXFK_Kardex_Inventario_Estado]    Script Date: 07/04/2026 09:54:06 p. m. ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Kardex_Inventario]') AND name = N'IXFK_Kardex_Inventario_Estado')
CREATE NONCLUSTERED INDEX [IXFK_Kardex_Inventario_Estado] ON [dbo].[Kardex_Inventario]
(
	[ID_Estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IXFK_Kardex_Inventario_Inventario_Producto]    Script Date: 07/04/2026 09:54:06 p. m. ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Kardex_Inventario]') AND name = N'IXFK_Kardex_Inventario_Inventario_Producto')
CREATE NONCLUSTERED INDEX [IXFK_Kardex_Inventario_Inventario_Producto] ON [dbo].[Kardex_Inventario]
(
	[ID_Producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IXFK_Kardex_Inventario_Transaccion_Kardex]    Script Date: 07/04/2026 09:54:06 p. m. ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Kardex_Inventario]') AND name = N'IXFK_Kardex_Inventario_Transaccion_Kardex')
CREATE NONCLUSTERED INDEX [IXFK_Kardex_Inventario_Transaccion_Kardex] ON [dbo].[Kardex_Inventario]
(
	[ID_Transaccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IXFK_Proveedor_Estado]    Script Date: 07/04/2026 09:54:06 p. m. ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Proveedor]') AND name = N'IXFK_Proveedor_Estado')
CREATE NONCLUSTERED INDEX [IXFK_Proveedor_Estado] ON [dbo].[Proveedor]
(
	[ID_Estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IXFK_Remision_Detalle_Catalogo_Producto]    Script Date: 07/04/2026 09:54:06 p. m. ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Remision_Detalle]') AND name = N'IXFK_Remision_Detalle_Catalogo_Producto')
CREATE NONCLUSTERED INDEX [IXFK_Remision_Detalle_Catalogo_Producto] ON [dbo].[Remision_Detalle]
(
	[ID_Producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IXFK_Remision_Detalle_Remision_Maestro]    Script Date: 07/04/2026 09:54:06 p. m. ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Remision_Detalle]') AND name = N'IXFK_Remision_Detalle_Remision_Maestro')
CREATE NONCLUSTERED INDEX [IXFK_Remision_Detalle_Remision_Maestro] ON [dbo].[Remision_Detalle]
(
	[ID_Remision] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IXFK_Remision_Maestro_Estado]    Script Date: 07/04/2026 09:54:06 p. m. ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Remision_Maestro]') AND name = N'IXFK_Remision_Maestro_Estado')
CREATE NONCLUSTERED INDEX [IXFK_Remision_Maestro_Estado] ON [dbo].[Remision_Maestro]
(
	[ID_Estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IXFK_Remision_Maestro_Proveedor]    Script Date: 07/04/2026 09:54:06 p. m. ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Remision_Maestro]') AND name = N'IXFK_Remision_Maestro_Proveedor')
CREATE NONCLUSTERED INDEX [IXFK_Remision_Maestro_Proveedor] ON [dbo].[Remision_Maestro]
(
	[ID_Proveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IXFK_RepresentanteProveedor_Estado]    Script Date: 07/04/2026 09:54:06 p. m. ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[RepresentanteProveedor]') AND name = N'IXFK_RepresentanteProveedor_Estado')
CREATE NONCLUSTERED INDEX [IXFK_RepresentanteProveedor_Estado] ON [dbo].[RepresentanteProveedor]
(
	[ID_Estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IXFK_RepresentanteProveedor_Proveedor]    Script Date: 07/04/2026 09:54:06 p. m. ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[RepresentanteProveedor]') AND name = N'IXFK_RepresentanteProveedor_Proveedor')
CREATE NONCLUSTERED INDEX [IXFK_RepresentanteProveedor_Proveedor] ON [dbo].[RepresentanteProveedor]
(
	[ID_Proveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
