USE [llantas]
GO
/****** Object:  Table [dbo].[Catalogo_Producto]    Script Date: 07/04/2026 09:49:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Catalogo_Producto]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Catalogo_Producto](
	[ID_Producto] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_Producto] [varchar](100) NOT NULL,
	[ID_Categoria] [int] NOT NULL,
	[ID_Marca] [int] NOT NULL,
	[ID_Unidad] [int] NOT NULL,
	[Stock_Minimo] [int] NULL,
	[Stock_Maximo] [int] NULL,
	[ID_Estado] [int] NOT NULL
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Categoria_Producto]    Script Date: 07/04/2026 09:49:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Categoria_Producto]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Categoria_Producto](
	[ID_Categoria] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_Categoria] [varchar](100) NOT NULL
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 07/04/2026 09:49:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Cliente]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Cliente](
	[ID_Cliente] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_Cliente] [varchar](100) NOT NULL,
	[Direccion_Cliente] [varchar](150) NULL,
	[Telefono_Cliente] [varchar](15) NOT NULL,
	[Correo_Cliente] [varchar](100) NULL,
	[RUC_Cedula_Cliente] [varchar](50) NOT NULL,
	[ID_Estado] [int] NOT NULL
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[ContactoProveedor]    Script Date: 07/04/2026 09:49:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ContactoProveedor]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ContactoProveedor](
	[ID_ContactoProveedor] [int] IDENTITY(1,1) NOT NULL,
	[ID_RepresentanteProveedor] [int] NOT NULL,
	[Tipo_Contacto] [varchar](10) NOT NULL,
	[Valor_Contacto] [varchar](50) NOT NULL,
	[ID_Estado] [int] NULL
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Estado]    Script Date: 07/04/2026 09:49:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Estado]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Estado](
	[ID_Estado] [int] IDENTITY(1,1) NOT NULL,
	[Estado_Nombre] [varchar](20) NULL
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Factura_Detalle]    Script Date: 07/04/2026 09:49:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Factura_Detalle]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Factura_Detalle](
	[ID_Factura] [int] NOT NULL,
	[ID_Producto] [int] NOT NULL,
	[Cantidad_Producto] [int] NOT NULL,
	[Precio_Unitario] [decimal](10, 2) NOT NULL,
	[Subtotal_Factura] [decimal](10, 2) NOT NULL
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Factura_Maestro]    Script Date: 07/04/2026 09:49:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Factura_Maestro]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Factura_Maestro](
	[ID_Factura] [int] IDENTITY(1,1) NOT NULL,
	[ID_Cliente] [int] NOT NULL,
	[Fecha_Factura] [date] NOT NULL,
	[Total_Factura] [decimal](10, 2) NOT NULL,
	[ID_Estado] [int] NOT NULL
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Historial_Precio]    Script Date: 07/04/2026 09:49:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Historial_Precio]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Historial_Precio](
	[ID_Historial] [int] IDENTITY(1,1) NOT NULL,
	[ID_Producto] [int] NOT NULL,
	[Precio] [decimal](10, 2) NOT NULL,
	[Fecha_Inicio] [date] NOT NULL,
	[Fecha_Fin] [date] NULL
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Inventario_Producto]    Script Date: 07/04/2026 09:49:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Inventario_Producto]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Inventario_Producto](
	[ID_Producto] [int] NOT NULL,
	[Stock_Actual] [int] NOT NULL,
	[Costo_Promedio] [decimal](10, 2) NOT NULL
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Kardex_Inventario]    Script Date: 07/04/2026 09:49:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Kardex_Inventario]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Kardex_Inventario](
	[ID_Kardex] [int] IDENTITY(1,1) NOT NULL,
	[ID_Producto] [int] NOT NULL,
	[ID_Transaccion] [int] NOT NULL,
	[Cantidad_Producto] [int] NOT NULL,
	[Costo_Unitario] [decimal](10, 2) NOT NULL,
	[Fecha_Movimiento] [date] NOT NULL,
	[ID_Estado] [int] NULL
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Marca]    Script Date: 07/04/2026 09:49:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Marca]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Marca](
	[ID_Marca] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_Marca] [varchar](50) NOT NULL
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Proveedor]    Script Date: 07/04/2026 09:49:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proveedor]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Proveedor](
	[ID_Proveedor] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_Proveedor] [varchar](100) NOT NULL,
	[Direccion_Proveedor] [varchar](150) NULL,
	[RUC_Proveedor] [varchar](50) NOT NULL,
	[ID_Estado] [int] NULL
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Remision_Detalle]    Script Date: 07/04/2026 09:49:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Remision_Detalle]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Remision_Detalle](
	[ID_Remision] [int] NOT NULL,
	[ID_Producto] [int] NOT NULL,
	[Cantidad_Producto] [int] NOT NULL,
	[Costo_Unitario] [decimal](10, 2) NOT NULL,
	[Costo_Total] [decimal](10, 2) NOT NULL
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Remision_Maestro]    Script Date: 07/04/2026 09:49:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Remision_Maestro]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Remision_Maestro](
	[ID_Remision] [int] IDENTITY(1,1) NOT NULL,
	[ID_Proveedor] [int] NOT NULL,
	[Fecha_Remision] [date] NOT NULL,
	[Total_Remision] [decimal](10, 2) NOT NULL,
	[ID_Estado] [int] NOT NULL
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[RepresentanteProveedor]    Script Date: 07/04/2026 09:49:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RepresentanteProveedor]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[RepresentanteProveedor](
	[ID_RepresentanteProveedor] [int] IDENTITY(1,1) NOT NULL,
	[ID_Proveedor] [int] NOT NULL,
	[Nombre] [varchar](20) NOT NULL,
	[Apellido] [varchar](20) NOT NULL,
	[ID_Estado] [int] NOT NULL
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Transaccion_Kardex]    Script Date: 07/04/2026 09:49:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Transaccion_Kardex]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Transaccion_Kardex](
	[ID_Transaccion] [int] IDENTITY(1,1) NOT NULL,
	[Tipo_Transaccion] [varchar](50) NOT NULL
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Unidad_Medida]    Script Date: 07/04/2026 09:49:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Unidad_Medida]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Unidad_Medida](
	[ID_Unidad] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_Unidad] [varchar](50) NOT NULL
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Catalogo_Producto_Categoria_Producto]') AND parent_object_id = OBJECT_ID(N'[dbo].[Catalogo_Producto]'))
ALTER TABLE [dbo].[Catalogo_Producto]  WITH CHECK ADD  CONSTRAINT [FK_Catalogo_Producto_Categoria_Producto] FOREIGN KEY([ID_Categoria])
REFERENCES [dbo].[Categoria_Producto] ([ID_Categoria])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Catalogo_Producto_Categoria_Producto]') AND parent_object_id = OBJECT_ID(N'[dbo].[Catalogo_Producto]'))
ALTER TABLE [dbo].[Catalogo_Producto] CHECK CONSTRAINT [FK_Catalogo_Producto_Categoria_Producto]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Catalogo_Producto_Estado]') AND parent_object_id = OBJECT_ID(N'[dbo].[Catalogo_Producto]'))
ALTER TABLE [dbo].[Catalogo_Producto]  WITH CHECK ADD  CONSTRAINT [FK_Catalogo_Producto_Estado] FOREIGN KEY([ID_Estado])
REFERENCES [dbo].[Estado] ([ID_Estado])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Catalogo_Producto_Estado]') AND parent_object_id = OBJECT_ID(N'[dbo].[Catalogo_Producto]'))
ALTER TABLE [dbo].[Catalogo_Producto] CHECK CONSTRAINT [FK_Catalogo_Producto_Estado]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Catalogo_Producto_Marca]') AND parent_object_id = OBJECT_ID(N'[dbo].[Catalogo_Producto]'))
ALTER TABLE [dbo].[Catalogo_Producto]  WITH CHECK ADD  CONSTRAINT [FK_Catalogo_Producto_Marca] FOREIGN KEY([ID_Marca])
REFERENCES [dbo].[Marca] ([ID_Marca])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Catalogo_Producto_Marca]') AND parent_object_id = OBJECT_ID(N'[dbo].[Catalogo_Producto]'))
ALTER TABLE [dbo].[Catalogo_Producto] CHECK CONSTRAINT [FK_Catalogo_Producto_Marca]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Catalogo_Producto_Unidad_Medida]') AND parent_object_id = OBJECT_ID(N'[dbo].[Catalogo_Producto]'))
ALTER TABLE [dbo].[Catalogo_Producto]  WITH CHECK ADD  CONSTRAINT [FK_Catalogo_Producto_Unidad_Medida] FOREIGN KEY([ID_Unidad])
REFERENCES [dbo].[Unidad_Medida] ([ID_Unidad])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Catalogo_Producto_Unidad_Medida]') AND parent_object_id = OBJECT_ID(N'[dbo].[Catalogo_Producto]'))
ALTER TABLE [dbo].[Catalogo_Producto] CHECK CONSTRAINT [FK_Catalogo_Producto_Unidad_Medida]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Cliente_Estado]') AND parent_object_id = OBJECT_ID(N'[dbo].[Cliente]'))
ALTER TABLE [dbo].[Cliente]  WITH CHECK ADD  CONSTRAINT [FK_Cliente_Estado] FOREIGN KEY([ID_Estado])
REFERENCES [dbo].[Estado] ([ID_Estado])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Cliente_Estado]') AND parent_object_id = OBJECT_ID(N'[dbo].[Cliente]'))
ALTER TABLE [dbo].[Cliente] CHECK CONSTRAINT [FK_Cliente_Estado]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ContactoProveedor_Estado]') AND parent_object_id = OBJECT_ID(N'[dbo].[ContactoProveedor]'))
ALTER TABLE [dbo].[ContactoProveedor]  WITH CHECK ADD  CONSTRAINT [FK_ContactoProveedor_Estado] FOREIGN KEY([ID_Estado])
REFERENCES [dbo].[Estado] ([ID_Estado])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ContactoProveedor_Estado]') AND parent_object_id = OBJECT_ID(N'[dbo].[ContactoProveedor]'))
ALTER TABLE [dbo].[ContactoProveedor] CHECK CONSTRAINT [FK_ContactoProveedor_Estado]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ContactoProveedor_RepresentanteProveedor]') AND parent_object_id = OBJECT_ID(N'[dbo].[ContactoProveedor]'))
ALTER TABLE [dbo].[ContactoProveedor]  WITH CHECK ADD  CONSTRAINT [FK_ContactoProveedor_RepresentanteProveedor] FOREIGN KEY([ID_RepresentanteProveedor])
REFERENCES [dbo].[RepresentanteProveedor] ([ID_RepresentanteProveedor])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ContactoProveedor_RepresentanteProveedor]') AND parent_object_id = OBJECT_ID(N'[dbo].[ContactoProveedor]'))
ALTER TABLE [dbo].[ContactoProveedor] CHECK CONSTRAINT [FK_ContactoProveedor_RepresentanteProveedor]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Factura_Detalle_Catalogo_Producto]') AND parent_object_id = OBJECT_ID(N'[dbo].[Factura_Detalle]'))
ALTER TABLE [dbo].[Factura_Detalle]  WITH CHECK ADD  CONSTRAINT [FK_Factura_Detalle_Catalogo_Producto] FOREIGN KEY([ID_Producto])
REFERENCES [dbo].[Catalogo_Producto] ([ID_Producto])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Factura_Detalle_Catalogo_Producto]') AND parent_object_id = OBJECT_ID(N'[dbo].[Factura_Detalle]'))
ALTER TABLE [dbo].[Factura_Detalle] CHECK CONSTRAINT [FK_Factura_Detalle_Catalogo_Producto]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Factura_Detalle_Factura_Maestro]') AND parent_object_id = OBJECT_ID(N'[dbo].[Factura_Detalle]'))
ALTER TABLE [dbo].[Factura_Detalle]  WITH CHECK ADD  CONSTRAINT [FK_Factura_Detalle_Factura_Maestro] FOREIGN KEY([ID_Factura])
REFERENCES [dbo].[Factura_Maestro] ([ID_Factura])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Factura_Detalle_Factura_Maestro]') AND parent_object_id = OBJECT_ID(N'[dbo].[Factura_Detalle]'))
ALTER TABLE [dbo].[Factura_Detalle] CHECK CONSTRAINT [FK_Factura_Detalle_Factura_Maestro]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Factura_Maestro_Cliente]') AND parent_object_id = OBJECT_ID(N'[dbo].[Factura_Maestro]'))
ALTER TABLE [dbo].[Factura_Maestro]  WITH CHECK ADD  CONSTRAINT [FK_Factura_Maestro_Cliente] FOREIGN KEY([ID_Cliente])
REFERENCES [dbo].[Cliente] ([ID_Cliente])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Factura_Maestro_Cliente]') AND parent_object_id = OBJECT_ID(N'[dbo].[Factura_Maestro]'))
ALTER TABLE [dbo].[Factura_Maestro] CHECK CONSTRAINT [FK_Factura_Maestro_Cliente]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Factura_Maestro_Estado]') AND parent_object_id = OBJECT_ID(N'[dbo].[Factura_Maestro]'))
ALTER TABLE [dbo].[Factura_Maestro]  WITH CHECK ADD  CONSTRAINT [FK_Factura_Maestro_Estado] FOREIGN KEY([ID_Estado])
REFERENCES [dbo].[Estado] ([ID_Estado])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Factura_Maestro_Estado]') AND parent_object_id = OBJECT_ID(N'[dbo].[Factura_Maestro]'))
ALTER TABLE [dbo].[Factura_Maestro] CHECK CONSTRAINT [FK_Factura_Maestro_Estado]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Historial_Precios_Inventario_Producto]') AND parent_object_id = OBJECT_ID(N'[dbo].[Historial_Precio]'))
ALTER TABLE [dbo].[Historial_Precio]  WITH CHECK ADD  CONSTRAINT [FK_Historial_Precios_Inventario_Producto] FOREIGN KEY([ID_Producto])
REFERENCES [dbo].[Inventario_Producto] ([ID_Producto])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Historial_Precios_Inventario_Producto]') AND parent_object_id = OBJECT_ID(N'[dbo].[Historial_Precio]'))
ALTER TABLE [dbo].[Historial_Precio] CHECK CONSTRAINT [FK_Historial_Precios_Inventario_Producto]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Inventario_Producto_Catalogo_Producto]') AND parent_object_id = OBJECT_ID(N'[dbo].[Inventario_Producto]'))
ALTER TABLE [dbo].[Inventario_Producto]  WITH CHECK ADD  CONSTRAINT [FK_Inventario_Producto_Catalogo_Producto] FOREIGN KEY([ID_Producto])
REFERENCES [dbo].[Catalogo_Producto] ([ID_Producto])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Inventario_Producto_Catalogo_Producto]') AND parent_object_id = OBJECT_ID(N'[dbo].[Inventario_Producto]'))
ALTER TABLE [dbo].[Inventario_Producto] CHECK CONSTRAINT [FK_Inventario_Producto_Catalogo_Producto]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Kardex_Inventario_Estado]') AND parent_object_id = OBJECT_ID(N'[dbo].[Kardex_Inventario]'))
ALTER TABLE [dbo].[Kardex_Inventario]  WITH CHECK ADD  CONSTRAINT [FK_Kardex_Inventario_Estado] FOREIGN KEY([ID_Estado])
REFERENCES [dbo].[Estado] ([ID_Estado])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Kardex_Inventario_Estado]') AND parent_object_id = OBJECT_ID(N'[dbo].[Kardex_Inventario]'))
ALTER TABLE [dbo].[Kardex_Inventario] CHECK CONSTRAINT [FK_Kardex_Inventario_Estado]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Kardex_Inventario_Inventario_Producto]') AND parent_object_id = OBJECT_ID(N'[dbo].[Kardex_Inventario]'))
ALTER TABLE [dbo].[Kardex_Inventario]  WITH CHECK ADD  CONSTRAINT [FK_Kardex_Inventario_Inventario_Producto] FOREIGN KEY([ID_Producto])
REFERENCES [dbo].[Inventario_Producto] ([ID_Producto])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Kardex_Inventario_Inventario_Producto]') AND parent_object_id = OBJECT_ID(N'[dbo].[Kardex_Inventario]'))
ALTER TABLE [dbo].[Kardex_Inventario] CHECK CONSTRAINT [FK_Kardex_Inventario_Inventario_Producto]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Kardex_Inventario_Transaccion_Kardex]') AND parent_object_id = OBJECT_ID(N'[dbo].[Kardex_Inventario]'))
ALTER TABLE [dbo].[Kardex_Inventario]  WITH CHECK ADD  CONSTRAINT [FK_Kardex_Inventario_Transaccion_Kardex] FOREIGN KEY([ID_Transaccion])
REFERENCES [dbo].[Transaccion_Kardex] ([ID_Transaccion])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Kardex_Inventario_Transaccion_Kardex]') AND parent_object_id = OBJECT_ID(N'[dbo].[Kardex_Inventario]'))
ALTER TABLE [dbo].[Kardex_Inventario] CHECK CONSTRAINT [FK_Kardex_Inventario_Transaccion_Kardex]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Proveedor_Estado]') AND parent_object_id = OBJECT_ID(N'[dbo].[Proveedor]'))
ALTER TABLE [dbo].[Proveedor]  WITH CHECK ADD  CONSTRAINT [FK_Proveedor_Estado] FOREIGN KEY([ID_Estado])
REFERENCES [dbo].[Estado] ([ID_Estado])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Proveedor_Estado]') AND parent_object_id = OBJECT_ID(N'[dbo].[Proveedor]'))
ALTER TABLE [dbo].[Proveedor] CHECK CONSTRAINT [FK_Proveedor_Estado]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Remision_Detalle_Catalogo_Producto]') AND parent_object_id = OBJECT_ID(N'[dbo].[Remision_Detalle]'))
ALTER TABLE [dbo].[Remision_Detalle]  WITH CHECK ADD  CONSTRAINT [FK_Remision_Detalle_Catalogo_Producto] FOREIGN KEY([ID_Producto])
REFERENCES [dbo].[Catalogo_Producto] ([ID_Producto])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Remision_Detalle_Catalogo_Producto]') AND parent_object_id = OBJECT_ID(N'[dbo].[Remision_Detalle]'))
ALTER TABLE [dbo].[Remision_Detalle] CHECK CONSTRAINT [FK_Remision_Detalle_Catalogo_Producto]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Remision_Detalle_Remision_Maestro]') AND parent_object_id = OBJECT_ID(N'[dbo].[Remision_Detalle]'))
ALTER TABLE [dbo].[Remision_Detalle]  WITH CHECK ADD  CONSTRAINT [FK_Remision_Detalle_Remision_Maestro] FOREIGN KEY([ID_Remision])
REFERENCES [dbo].[Remision_Maestro] ([ID_Remision])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Remision_Detalle_Remision_Maestro]') AND parent_object_id = OBJECT_ID(N'[dbo].[Remision_Detalle]'))
ALTER TABLE [dbo].[Remision_Detalle] CHECK CONSTRAINT [FK_Remision_Detalle_Remision_Maestro]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Remision_Maestro_Estado]') AND parent_object_id = OBJECT_ID(N'[dbo].[Remision_Maestro]'))
ALTER TABLE [dbo].[Remision_Maestro]  WITH CHECK ADD  CONSTRAINT [FK_Remision_Maestro_Estado] FOREIGN KEY([ID_Estado])
REFERENCES [dbo].[Estado] ([ID_Estado])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Remision_Maestro_Estado]') AND parent_object_id = OBJECT_ID(N'[dbo].[Remision_Maestro]'))
ALTER TABLE [dbo].[Remision_Maestro] CHECK CONSTRAINT [FK_Remision_Maestro_Estado]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Remision_Maestro_Proveedor]') AND parent_object_id = OBJECT_ID(N'[dbo].[Remision_Maestro]'))
ALTER TABLE [dbo].[Remision_Maestro]  WITH CHECK ADD  CONSTRAINT [FK_Remision_Maestro_Proveedor] FOREIGN KEY([ID_Proveedor])
REFERENCES [dbo].[Proveedor] ([ID_Proveedor])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Remision_Maestro_Proveedor]') AND parent_object_id = OBJECT_ID(N'[dbo].[Remision_Maestro]'))
ALTER TABLE [dbo].[Remision_Maestro] CHECK CONSTRAINT [FK_Remision_Maestro_Proveedor]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_RepresentanteProveedor_Estado]') AND parent_object_id = OBJECT_ID(N'[dbo].[RepresentanteProveedor]'))
ALTER TABLE [dbo].[RepresentanteProveedor]  WITH CHECK ADD  CONSTRAINT [FK_RepresentanteProveedor_Estado] FOREIGN KEY([ID_Estado])
REFERENCES [dbo].[Estado] ([ID_Estado])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_RepresentanteProveedor_Estado]') AND parent_object_id = OBJECT_ID(N'[dbo].[RepresentanteProveedor]'))
ALTER TABLE [dbo].[RepresentanteProveedor] CHECK CONSTRAINT [FK_RepresentanteProveedor_Estado]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_RepresentanteProveedor_Proveedor]') AND parent_object_id = OBJECT_ID(N'[dbo].[RepresentanteProveedor]'))
ALTER TABLE [dbo].[RepresentanteProveedor]  WITH CHECK ADD  CONSTRAINT [FK_RepresentanteProveedor_Proveedor] FOREIGN KEY([ID_Proveedor])
REFERENCES [dbo].[Proveedor] ([ID_Proveedor])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_RepresentanteProveedor_Proveedor]') AND parent_object_id = OBJECT_ID(N'[dbo].[RepresentanteProveedor]'))
ALTER TABLE [dbo].[RepresentanteProveedor] CHECK CONSTRAINT [FK_RepresentanteProveedor_Proveedor]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_Stock]') AND parent_object_id = OBJECT_ID(N'[dbo].[Catalogo_Producto]'))
ALTER TABLE [dbo].[Catalogo_Producto]  WITH CHECK ADD  CONSTRAINT [CHK_Stock] CHECK  (([Stock_Minimo]>=(0) AND [Stock_Maximo]>=(0)))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_Stock]') AND parent_object_id = OBJECT_ID(N'[dbo].[Catalogo_Producto]'))
ALTER TABLE [dbo].[Catalogo_Producto] CHECK CONSTRAINT [CHK_Stock]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[Es_Correo_Valido_Cliente]') AND parent_object_id = OBJECT_ID(N'[dbo].[Cliente]'))
ALTER TABLE [dbo].[Cliente]  WITH CHECK ADD  CONSTRAINT [Es_Correo_Valido_Cliente] CHECK  ((charindex('@',[Correo_Cliente])>(1) AND charindex('@',[Correo_Cliente])<len([Correo_Cliente])))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[Es_Correo_Valido_Cliente]') AND parent_object_id = OBJECT_ID(N'[dbo].[Cliente]'))
ALTER TABLE [dbo].[Cliente] CHECK CONSTRAINT [Es_Correo_Valido_Cliente]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_Cantidad_Precio_Subtotal]') AND parent_object_id = OBJECT_ID(N'[dbo].[Factura_Detalle]'))
ALTER TABLE [dbo].[Factura_Detalle]  WITH CHECK ADD  CONSTRAINT [CHK_Cantidad_Precio_Subtotal] CHECK  (([Cantidad_Producto]>=(0) AND [Precio_Unitario]>=(0) AND [Subtotal_Factura]>=(0)))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_Cantidad_Precio_Subtotal]') AND parent_object_id = OBJECT_ID(N'[dbo].[Factura_Detalle]'))
ALTER TABLE [dbo].[Factura_Detalle] CHECK CONSTRAINT [CHK_Cantidad_Precio_Subtotal]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_Precio_Stock_Costo]') AND parent_object_id = OBJECT_ID(N'[dbo].[Inventario_Producto]'))
ALTER TABLE [dbo].[Inventario_Producto]  WITH CHECK ADD  CONSTRAINT [CHK_Precio_Stock_Costo] CHECK  (([Costo_Promedio]>=(0) AND [Stock_Actual]>=(0)))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_Precio_Stock_Costo]') AND parent_object_id = OBJECT_ID(N'[dbo].[Inventario_Producto]'))
ALTER TABLE [dbo].[Inventario_Producto] CHECK CONSTRAINT [CHK_Precio_Stock_Costo]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_Cantidad_Costo]') AND parent_object_id = OBJECT_ID(N'[dbo].[Kardex_Inventario]'))
ALTER TABLE [dbo].[Kardex_Inventario]  WITH CHECK ADD  CONSTRAINT [CHK_Cantidad_Costo] CHECK  (([Cantidad_Producto]>=(0) AND [Costo_Unitario]>=(0)))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_Cantidad_Costo]') AND parent_object_id = OBJECT_ID(N'[dbo].[Kardex_Inventario]'))
ALTER TABLE [dbo].[Kardex_Inventario] CHECK CONSTRAINT [CHK_Cantidad_Costo]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_Cantidad_Costo_Total]') AND parent_object_id = OBJECT_ID(N'[dbo].[Remision_Detalle]'))
ALTER TABLE [dbo].[Remision_Detalle]  WITH CHECK ADD  CONSTRAINT [CHK_Cantidad_Costo_Total] CHECK  (([Cantidad_Producto]>=(0) AND [Costo_Unitario]>=(0) AND [Costo_Total]>=(0)))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_Cantidad_Costo_Total]') AND parent_object_id = OBJECT_ID(N'[dbo].[Remision_Detalle]'))
ALTER TABLE [dbo].[Remision_Detalle] CHECK CONSTRAINT [CHK_Cantidad_Costo_Total]
GO
